<section class="hero is-small is-primary">
    <div class="hero-body">
        <p class="title">
            Status Loads
        </p>
    </div>
</section>
<div class="columns m-0">
    <div class="column is-half">
        <app-status-panel></app-status-panel>
    </div>
    <div class="column"></div>
    <div class="column is-two-fifths">
        <div class="box">        
        </div>
    </div>
</div>

<div class="columns m-0">
    <div class="column is-four-fifths">
        <div class="box">
            <app-status-table></app-status-table>
        </div>
    </div>
    <div class="column">
        <div class="box"></div>
    </div>
</div>
