<section class="hero is-small is-primary">
    <div class="hero-body">
        <p class="title">
            Módulo Conductores
        </p>
    </div>
</section>
<div class="columns m-0">
    <div class="column is-half">
        <!-- <div class="box">
            <app-driver-panel></app-driver-panel>
        </div> -->
        <app-driver-panel></app-driver-panel>
    </div>
    <div class="column"></div>
    <div class="column is-two-fifths">
        <div class="box">        
        </div>
    </div>
</div>

<div class="columns m-0">
    <div class="column is-four-fifths">
        <div class="box">
            <app-driver-table></app-driver-table>
        </div>
    </div>
    <div class="column">
        <div class="box"></div>
    </div>
</div>