<div class="columns is-mobile is-gapless is-multiline">
    
        
            <div class="column">
                First Column
            </div>
            <div class="column">
                <div class="box">
                    Second column
                </div>
            </div>
            <div class="column">
                <div class="box">
                    Third column
                </div>
            </div>
            <div class="column">
                <div class="box">
                    Fourth column
                </div>
            </div>
    
</div>
