<section class="hero is-small is-primary">
    <div class="hero-body">
        <p class="title">
            Loads
        </p>
    </div>
</section>
<div class="columns m-0">
    <div class="column is-half">
        <app-load-panel></app-load-panel>
    </div>
    <div class="column"></div>
    <div class="column is-two-fifths">
        <div class="box">        
        </div>
    </div>
</div>

<div class="columns m-0">
    <div class="column is-four-fifths">
        <div class="box">
            <app-load-table></app-load-table>
        </div>
    </div>
    <div class="column">
        <div class="box"></div>
    </div>
</div>
